@using ListaDeTareas.Models;


@{
    ViewBag.Title = "agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/cssboostrap.css" rel="stylesheet"/>
</head>


<div class="bg-contact100">
    <div class="container-contact100">
        <div class="wrap-contact100">
            <div class="contact100-pic js-tilt" data-tilt>
                <img src="~/Images/registrar.jpg" alt="IMG">
            </div>
            <form class="contact100-form validate-form" action="@Url.Action("AgregarTarea","DataGrid")" method="post">
                <h2 class="p-2">Agregar tarea</h2>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <input class="input100" type="text" name="Tarea" autocomplete="off" required placeholder="Escribe un nombre...">
                        
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Message is required">
                    <textarea class="input100" name="DescripcionTarea" autocomplete="off" required placeholder="Escribe una descripcion..."></textarea>
                    <span class="focus-input100"></span>
                </div>
                <div class="container-contact100-form-btn">
                    <button type="submit" class="btn btn-outline-success btn-sm contact100-form-btn">Agregar</button>
                    <a class="btn btn-outline-danger btn-sm contact100-form-btn" href="@Url.Action("Index","DataGrid")">Cancelar</a>
                    <button class="btn btn-outline-primary btn-sm contact100-form-btn" type="reset">Limpiar</button>
                </div>
            </form>
        </div>
    </div>
</div>